html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
}

.list {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  padding: 1em;
  justify-content: space-between;
}